{% if page.meta.comments %}
  <p>
    <strong>本文浏览量：</strong><span id="busuanzi_value_page_pv">--</span>
  </p>
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>

  <script
    src="https://giscus.app/client.js"
    data-repo="xuchi-0808/Ascend-Inference-wiki"
    data-repo-id="R_kgDOSPtBcQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOSPtBcc4DCJVY"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="https://cdn.jsdelivr.net/gh/xuchi-0808/Ascend-Inference-wiki@master/docs/giscus-theme-light.css"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async
  >
  </script>

  <script>
    var GISCUS_LIGHT = "https://cdn.jsdelivr.net/gh/xuchi-0808/Ascend-Inference-wiki@master/docs/giscus-theme-light.css";
    var GISCUS_DARK = "https://cdn.jsdelivr.net/gh/xuchi-0808/Ascend-Inference-wiki@master/docs/giscus-theme-dark.css";

    var giscus = document.querySelector("script[src*=giscus]");

    var palette = __md_get("__palette");
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate"
        ? GISCUS_DARK
        : GISCUS_LIGHT;
      giscus.setAttribute("data-theme", theme);
    }

    document.addEventListener("DOMContentLoaded", function () {
      var ref = document.querySelector("[data-md-component=palette]");
      if (ref) {
        ref.addEventListener("change", function () {
          var palette = __md_get("__palette");
          if (palette && typeof palette.color === "object") {
            var theme = palette.color.scheme === "slate"
              ? GISCUS_DARK
              : GISCUS_LIGHT;
            var frame = document.querySelector(".giscus-frame");
            if (frame) {
              frame.contentWindow.postMessage(
                { giscus: { setConfig: { theme } } },
                "https://giscus.app"
              );
            }
          }
        });
      }
    });
  </script>
{% endif %}
